.centered{
    width: 600px;
    margin: auto;
}

.book{
    height: 300px;
    width: 500px;
    background-color: burlywood;
    border-radius: 5px;
    border: black 2px solid;
    margin: 20px;
}

.hidden {
    visibility: hidden;
}

.title {
    border-radius: 7px;
    color: #ffffff;
    font-size: 25px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
}

.desc {
    font-size: 110%;
    height: 150px;
    border-radius: 5px;
    border: black 2px solid;
    margin: 20px;
}
.deleteBtnCntr {
    width: 200px;
    height: 30px;
    margin: auto;  
}

.deleteBtn {
    width: 200px;
    height: 30px;
    margin: auto;
}